body{font-family: 'Frank Ruhl Libre', serif;
text-align: center;

}


.info { 
display: flex;
justify-content: space-evenly;

}

.gallary{display: flex;
justify-content: space-evenly;
}

.bonus{
    color: red;
}

hr{
    width: 25%;
    margin: auto;
    color:black;
}

a{
    color: black;
}

a:hover{
    color: green
}

a:visited{ 
    color:maroon
}